<nav class="navbar navbar-inverse navbar-expand navbar-light" style="background-color: #14374e">
  <a class="navbar-brand" style='color:white'>Markar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboardt" style='color:white'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutdash" style='color:white'>About <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>

</nav>
