{% extends 'layout2.html' %}
{% include 'includes/navbar-dashboard-t.html' %}
{% block content %}
<br>
<div class="container headerclass jumbotron">
<div>
  <h1>About Markar</h1>
</div>
</div>
  <div>
  <div class="container jumbotron writing aboutpara" style="background-color:#9ca5ab;color:white">
    <p>Markar is an open source software built for automated checking of Lab Tasks and Assignments. It can be used for code written in Python and C++.</p>
    <p>Source code can be found <a href="https://github.com/mominaadar">here.</a></p>
    <p>In case of any issue feel free to contact Support Team.</p>
    <p>------------</p>
    <p><strong>Support Team:</strong></p>
    <p><em>Faisal Khan Qureshi: <a href = "mailto: faisal.khan@nu.edu.pk">faisal.khan@nu.edu.pk</a></em></p>
    <p><em>Momina Atif Dar: <a href = "mailto: p180030@nu.edu.pk">p180030@nu.edu.pk</a></em></p>
  </div>
  </div>


{% endblock %}
