<!DOCTYPE html>
<html>
  <head>
    <title>Markar</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <style>
      .headerclass{
        text-align: center;
        font-family: 'Noto Sans JP', sans-serif;
        background-color: #324b5f;
        color: white;
      }
      .writing{
        font-family: 'Noto Sans JP', sans-serif;

      }
      .about{
        text-align: center;
        background-color: #718c9d;
      }
      .aboutpara{
        text-align: center;
      }
    </style>


  </head>
  <body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
